* {
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
}

body {

	font-family: 'Merriweather', Georgia, Cambria, 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 0.9rem;
	color: #0C0C0C;
	background: #FEFEFE;

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto -100px;
}

footer {
    height: 100px;
    position: relative;
}

.copyright {
    color: #D8D8D8;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

header.main a {

    text-decoration: none;

}

header.main .logo {

    position: absolute;
    top: 20px;
    left: 20px;
	width: 200px;
	height: 200px;

}

header.main .social {

    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    padding-top: 20px;

}

header.main .social a {

    margin-bottom: 20px;
    height: 40px;
    width: 40px;
    display: block;

}

.timelineWrapper {

	margin-top: 45px;

}

.timeline {

	display: table;
	list-style: none;
	margin: 0 auto;

}

.timeline li {

	display: inline-block;

}

.timeline li a, .archive .group .name a{
	
	display: block;
	text-decoration: none;
	padding: 0.8em 1em 0.4em;
	margin-top: 0.4em;
	color: #404040;
	border-bottom: 1px solid #D8D8D8;
	
}

.timeline li.current a {
	
	border-bottom: 1px solid #404040;
	
}

.timeline li a:hover, .archive .group .name a:hover {

	border-bottom: 1px solid #404040;

}

.contentWrapper {

	width: 50%;
	min-width: 720px;
	margin: 0 auto;
    padding-bottom: 100px;

}

.post .title {

	margin: 100px 0;

}

.post .title h1, .archive article h1 {

	font-family: 'Droid Sans', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-weight: 700;
	font-size: 3.3rem;
	text-align: center;

}

.post .title h2 {

	font-size: 1.6rem;
	font-weight: 400;
	text-align: center;
	margin-top: 15px;

}

.content h1, .content h2, .content p, .content ol, .content ul, .content li, .content  blockquote, .archive article p {

	line-height: 1.75;
	letter-spacing: 0.01rem;

}

.content h1, .content h2, .content p, .content ol, .content ul, .content table, .content hr, .content .MathJax_Display, .highlight {

	margin-bottom: 30px;

}

.content h1, .content h2, .content h3 {

    font-family: 'Droid Sans', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-weight: 700;

}

.content h1 {

    font-size: 1.2rem;

}

.content h2 {

    font-size: 1rem;

}

.content h3 {

    font-size: 0.9rem;

}

.content hr {

    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D8D8D8;

}

.content ol, .content ul {

    list-style-position: outside;
    margin-left: 45px;

}

.content blockquote {
	
	border-left: 1px solid #D8D8D8;
	padding-left: 15px;
	font-style: italic;
	
}

.content table, .content td, .content th {

    border-spacing: 0;
    padding: 0;
    border-collapse: collapse;
}

.content table {

    margin-left: auto;
    margin-right: auto;

}

.content td, .content th {

    text-align: center;
    font-weight: 400;
    padding: 5px 10px;

}

.content td {

    border-color: #D8D8D8;

}

.content th {

    border-color: #404040;

}

.content td, .content th, .border-bottom { 

    border-bottom-width: 1px;
    border-bottom-style: solid;

}

td.no-border-bottom, th.no-border-bottom {

    border-bottom-width: 0;

}

.border-left {

    border-left-width: 1px;
    border-left-style: solid;

}

.border-right {

    border-right-width: 1px;
    border-right-style: solid;

}

.border-top {

    border-top-width: 1px;
    border-top-style: solid;

}

.no-border {

    border: none !important;

}

#MathJax_Message {

    display: none !important;

}

.MathJax span {

    color: #0C0C0C;

}

.footnotes {

    margin-top: 40px;
    padding-top: 30px;
    border-top: 1px solid #D8D8D8;

}

.archive {

	margin-top: 100px;

}

.archive .group {

	margin-bottom: 100px;

}

.archive .group .name {

	display: block;
	border-bottom: 1px solid #D8D8D8;

}

.archive .group .name a {

	display: inline-block;
	margin-bottom: -1px;

}

.archive article {

	margin: 20px 16px 40px;

}

.archive article h1{

	font-size: 1.5rem;
	text-align: left;
	padding: 15px 0;

}

.archive article h1 a {

	text-decoration: none;
	color: #0C0C0C;

}

.archive article h1 a:hover {

	text-decoration: underline;

}

.archive article h2 {

	font-size: 1.1rem;
	font-weight: 400;
	padding: 0 0 15px;
	
}

.archive .content pre code {

	display: none;

}

.highlight {

	border-left: 1px solid #D8D8D8;
	padding-left: 10px;

}

.highlight .lineno { 

	border-right: 1px solid #D8D8D8; 
	padding-right: 10px; 
	margin-right: 5px;
	color: #404040 

}

.figure {

    text-align: center;
    margin: 20px 0;
    padding-top: 30px;

}

.post .figure {

    border: 1px solid #D8D8D8;
    border-left: none;
    border-right: none;

}

.figure .content {

    display: inline;

}

.references {
    
    margin-bottom: 20px;
    
}

.references h1 {
    
    margin: 0 0 10px;
    padding-top: 10px;
    border-top: 1px solid #D8D8D8;
    
}

.references ol {
    
    counter-reset: ref-counter;
    margin: 0 0 0 35px;
    
}

.references li {

    list-style-type: none;

}

.references li:before {
    content: "[" counter(ref-counter) "]";
    counter-increment: ref-counter;
    margin-left: -35px;
    width: 35px;
    display: inline-block;
}