<header class="main">
	
	<div class="logo">
    
		<a href="/">
			<img src="/asset/image/logo.png" width="200"/>
		</a>
        
	</div>
    
    <div class="social">
    
        <a href="https://github.com/jmc734" target="_blank">
            <img src="/asset/image/github.png" width="40" height="40"/>
        </a>
        
        <a href="https://www.linkedin.com/pub/jacob-mcdonald" target="_blank">
            <img src="/asset/image/linkedin.png" width="40" height="40"/>
        </a>
        
        <a href="https://twitter.com/jacob_mcdonald" target="_blank">
            <img src="/asset/image/twitter.png" width="40" height="40"/>
        </a>
    
    </div>

</header>
