<header class="main">
	
	<div class="logo">
    
		<a href="/" id="home">
			<img src="/asset/image/logo.png" alt="Jacob McDonald" width="200"/>
		</a>
        
	</div>
    
    <div class="social">
    
        <a href="https://github.com/jmc734" title="Github: jmc734" target="_blank">
            <img src="/asset/image/github.png" alt="Github: jmc734" width="40" height="40"/>
        </a>
        
        <a href="https://www.linkedin.com/pub/jacob-mcdonald" title="LinkedIn: jacob-mcdonald" target="_blank">
            <img src="/asset/image/linkedin.png" alt="LinkedIn: jacob-mcdonald" width="40" height="40"/>
        </a>
        
        <a href="https://twitter.com/jacob_mcdonald" title="Twitter: @jacob_mcdonald" target="_blank">
            <img src="/asset/image/twitter.png" width="40" alt="Twitter: @jacob_mcdonald" height="40"/>
        </a>
    
    </div>

</header>
